# Core Frameworks and API
Django>=5.1,<5.2
djangorestframework

# Database Driver for PostgreSQL
 psycopg2-binary

 #Authentication
djangorestframework-simplejwt

# Background Processing (Celery)


# HTTP Client for External AI API Calls
requests

# Environment Variables Management
django-environ

# Optional: To store Celery task results in the Django database
#django-celery-results